---
---

.house-section {
  padding: 20px;
  min-height: 400px;
  background: #EEE;
}

.house-models {
  background: white;

  .sketchup-models {
    text-align: center;
  }

  .sketchup-background {
    background: white;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0.16) 0 1px 4px;
    font-weight: 200;
    height: 50px;
    opacity: .9;
    position: absolute;
    z-index: 1;
  }

  .layer-select {
    appearance: none;
    border: 0;
    border-radius: 3px;
    font-size: 18px;
    height: 42px;
    left: 20px;
    padding: 10px;
    top: 20px;
    text-indent: 0.01px;
    text-overflow: '';
    width: 150px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .hidden-select {
    background: transparent;
    cursor: pointer;
    left: 20px;
    width: 150px;
    z-index: 4;
  }

  .select-options {
    @extend .sketchup-background;
    cursor: pointer;
    font-size: 18px;
    height: 120px;
    left: 20px;
    top: 61px;
    text-align: left;
    width: 150px;

    a {
      background: white;
      border-top: 1px solid lightgray;
      color: #000;
      cursor: pointer;
      display: block;
      height: 40px;
      opacity: .9;
      padding: 8px 10px 8px 35px;

      &:last-child {
        border-radius: 0 0 3px 3px;
      }
    }
  }

  .three-d-model {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 20px;
    position: relative;
  }

  .select-wrapper {
    position: relative;
  }

  .down-arrow {
    color: #656565;
    position: absolute;
    text-align: left;
    left: 32px;
    top: 36px;
    z-index: 3;
  }

}

// Embeded player
.modelo-wrapper {
  padding: 0;

  iframe {
    width: 100%;
  }
}

.hidden-floor {
  overflow: hidden;
  position: relative;
  height: 0;

  iframe {
    position: absolute;
  }
}

.house-info {
  background: #666666;
  color: white;

  img {
    max-height: 300px;
    image-orientation: from-image;
  }
}

.house-more-info {
  background: white;

  .row div{
    margin-top: 30px;
  }

  img {
    // max-height: 300px;
    width: 100%;
  }
}
