
<div id='portfolio_js' class='project_content row'>
  <div class='col-md-2'>
    <ul class='project_preview_list'>
      <li class='selected preview_list_item' id='balls_div'>
        <a href="">
          <div class='project_preview_inner'>
            <h4 class='proect_title'>JavaScript Balls</h4>
            <img src="assets/img/projects/balls/balls_preview.png">
          </div>
        </a>
        <div class='project_info' title='JavaScript Balls' description='Application built in JavaScript using svg elements.  Collision is detected when the balls impact the wall or other balls.  Larger balls absorb smaller and acquire a fraction of their area.  Click to create a new ball. The longer you hold the mouse down, the larger the new ball will be.' github='https://github.com/Josh-Mosh/JS-Balls' iframe='balls.html'></div>
      </li>

      <li class='unselected preview_list_item' id='groupchat_div'>
        <a href="">
          <div class='project_preview_inner'>
            <h4 class='proect_title'>Group Chat</h4>
            <img src="assets/img/projects/groupchat/groupchat_preview.png">
          </div>
        </a>
        <div class='project_info' title= 'Group Chat' description= 'A group chat app built using Node.js and socket.io.  Users are prompted for their name and the name of a room they would like to join, where they can then chat, see other users in their room, and see all messages that were posted before they joined.' firstsrc="assets/img/projects/groupchat/1.png" github='https://github.com/Josh-Mosh/Group-Chat'></div>
      </li>

      <li class='unselected preview_list_item' id='shoesale_div'>
        <a href="">
          <div class='project_preview_inner'>
            <h4 class='proect_title'>Auctions</h4>
            <img src="assets/img/projects/bids/bids_preview.png">
          </div>
        </a>
        <div class='project_info' title='Auctions' description='App built using Node.js with express and socket.io modules. Simulates an auction site where users can view, list, and bid on items.' firstsrc='assets/img/projects/bids/1.png' github='https://github.com/Josh-Mosh/bids'></div>
      </li>
    </ul>
  </div>

  <div id='project_window' class='col-md-10'>
    <div class='project_top'>
    </div>
    <div class='project_bottom'>
      <div class='row project_images'></div>
    <div class='row project_frame'></div>
    <div class='github_link'>
      <a href="#" target='_blank'>
        <img src="assets/img/github.png">
        <p>See the Code on Github</p>
      </a>
    </div>
  </div>
  </div>
</div>