
<div id='portfolio_php' class='project_content row'>
  <div class='col-md-2'>
    <ul class='project_preview_list'>
      <li class='selected preview_list_item' id='teachers_div'>
        <a href="">
          <div class='project_preview_inner'>
            <h4 class='proect_title'>Teacher Dashboard</h4>
            <img src="assets/img/projects/teachers/teachers_preview.png">
          </div>
        </a>
        <div class='project_info' title= 'Teacher Dashboard' description= "Web App built to serve teachers and allow them to manage student's exam records.  Built in four hours with php as qualifying exam for Coding Dojo Bootcamp." firstsrc="assets/img/projects/teachers/1.png" secondsrc="assets/img/projects/teachers/2.png" thirdsrc="assets/img/projects/teachers/3.png" github='https://github.com/Josh-Mosh/CodingDojoGreenBelt'></div>
      </li>

      <li class='unselected preview_list_item' id='railswall_div'>
        <a href="">
          <div class='project_preview_inner'>
            <h4 class='proect_title'>The Wall</h4>
            <img src="assets/img/projects/phpwall/phpwall_preview.png">
          </div>
        </a>
        <div class='project_info' title= 'The Wall' description= "A simple app built in php that allows users to register, log in, and view a wall of other people's messages. Users can also post their own messages as well as comment on existing messages."  firstsrc="assets/img/projects/phpwall/1.png" secondsrc="assets/img/projects/phpwall/2.png" thirdsrc="assets/img/projects/phpwall/3.png" github='https://github.com/Josh-Mosh/The-Wall-PHP.git'></div>
      </li>

      <li class='unselected preview_list_item' id='shoesale_div'>
        <a href="">
          <div class='project_preview_inner'>
            <h4 class='proect_title'>Appointments</h4>
            <img src="assets/img/projects/appointments/appointments_preview.png">
          </div>
        </a>
        <div class='project_info' title='Appointments' description='App built in four hours as a demonstration of understanding of php and CodeIgniter.  Allows users to set appointments and see appointments for the current day as well as edit appointments' firstsrc='assets/img/projects/appointments/1.png' secondsrc='assets/img/projects/appointments/2.png' github='https://github.com/Josh-Mosh/Red-Belt-CodingDojo.git'></div>
      </li>

      <li class='unselected preview_list_item' id='notes_div'>
        <a href="">
          <div class='project_preview_inner'>
            <h4 class='proect_title'>Notes</h4>
            <img src="assets/img/projects/phpnotes/notes_preview.png">
          </div>
        </a>
        <div class='project_info' title='Notes' description='App allows users to create post-it notes and display them on a wall.  All forms submit with AJAX.' firstsrc='assets/img/projects/phpnotes/1.png' github='https://github.com/Josh-Mosh/Ajax-Notes-Codeigniter'></div>
      </li>

      <li class='unselected preview_list_item' id='weather_div'>
        <a href="">
          <div class='project_preview_inner'>
            <h4 class='proect_title'>Weather API</h4>
            <img src="assets/img/projects/weather/weather_preview.png">
          </div>
        </a>
        <div class='project_info' title='Weather' description='App built that displays the current weather for a searched area.  Information is supplied from World Weather Online API and is returned via an AJAX form submission.' firstsrc='assets/img/projects/weather/1.png' github='https://github.com/Josh-Mosh/Weather-api-codeigniter'></div>
      </li>
    </ul>
  </div>
  <div id='project_window' class='col-md-10'>
    <div class='project_top'>
      <h3>Teacher Dashboard</h3>
      <p>Web App built to serve teachers and allow them to manage student's exam records.  Built in four hours with php as qualifying exam for Coding Dojo Bootcamp.</p>
    </div>
    <div class='project_bottom'>
      <div class='row project_images'>
        <img class='col-md-4 project_img img1' src="assets/img/projects/teachers/1.png">
        <img class='col-md-4 project_img img2' src="assets/img/projects/teachers/2.png">
        <img class='col-md-4 project_img img3' src="assets/img/projects/teachers/3.png">
    </div>
    <div class='github_link'>
      <a href="https://github.com/Josh-Mosh/CodingDojoGreenBelt" target='_blank'>
        <img src="assets/img/github.png">
        <p>See the Code on Github</p>
      </a>
    </div>
  </div>
  </div>
</div>
