
<div id="portfolio_ruby" class='project_content row'>

  <div class='col-md-2'>
    <ul class='project_preview_list'>
      <li class='selected preview_list_item' id='unchained_div'>
        <a href="">
          <div class='project_preview_inner'>
            <h4 class='proect_title'>Unchained Coffee Bean</h4>
            <img src="assets/img/projects/unchained/unchained_preview.png">
          </div>
        </a>
        <div class='project_info' title= 'Unchained Coffee Bean' description= 'This is a web app built to help coffee lovers find chain-free coffee shops near them or around the world. The database is built by users who submit coffee shops where then other users can view that information on a large map. It is built in rails with a postgres db and uses node.js to update the Recent Activities list in real time.' firstsrc="assets/img/projects/unchained/unchained_home.png" secondsrc="assets/img/projects/unchained/unchained_add.png" thirdsrc="assets/img/projects/unchained/unchained_shop.png" github='https://github.com/Josh-Mosh/unchainedcoffee'></div>
      </li>

      <li class='unselected preview_list_item' id='railswall_div'>
        <a href="">
          <div class='project_preview_inner'>
            <h4 class='proect_title'>The Wall</h4>
            <img src="assets/img/projects/railswall/railswall_preview.png">
          </div>
        </a>
        <div class='project_info' title= 'The Wall' description= 'Users, Posts, Comments example built in ruby on rails' firstsrc="assets/img/projects/railswall/1.png" secondsrc="assets/img/projects/railswall/2.png" thirdsrc="assets/img/projects/railswall/3.png" github='https://github.com/Josh-Mosh/The-Wall-RoR'></div>
      </li>

      <li class='unselected preview_list_item' id='shoesale_div'>
        <a href="">
          <div class='project_preview_inner'>
            <h4 class='proect_title'>Sales / Purchases</h4>
            <img src="assets/img/projects/shoesale/shoesale_preview.png">
          </div>
        </a>
        <div class='project_info' title='Sales / Purchases' description='App built in four hours as a demonstration of understanding of the Rails framework.  Uses restful routing to allow users to buy and sell products as well as see a dashboard of all products available.' firstsrc='assets/img/projects/shoesale/1.png' secondsrc='assets/img/projects/shoesale/2.png' thirdsrc='assets/img/projects/shoesale/3.png' github='https://github.com/Josh-Mosh/CodingDojoBlackBelt'></div>
      </li>
    </ul>
  </div>

  <div id='project_window' class='col-md-10'>
    <div class='project_top'>
    </div>
    <div class='project_bottom'>
      <div class='row project_images'></div>
    <div class='github_link'>
      <a href="#" target='_blank'>
        <img src="assets/img/github.png">
        <p>See the Code on Github</p>
      </a>
    </div>
  </div>
  </div>
</div>