
<footer class='footer'>

  <div id ="social">
    <a href="https://github.com/Josh-Mosh" target="_blank" id="github">
      <i class="fa fa-3x fa-github"></i>
    </a>
    <a href="https://twitter.com/Josh_Mosh" target="_blank" id="twitter">
      <i class="fa fa-3x fa-twitter"></i>
    </a>
    <a href="http://www.linkedin.com/in/joshmosh" target="_blank">
      <i class="fa fa-3x fa-linkedin"></i>
    </a>
    <a href="https://www.facebook.com/Joshua.Neal.Gillespie" target="_blank">
      <i class="fa fa-3x fa-facebook"></i>
    </a>
    <a href="http://instagram.com/joshmosh" target="_blank">
      <i class="fa fa-3x fa-instagram"></i>
    </a>
  </div>

  <p class="marTop-2 marBot-0">Made with <i class="fa fa-heart" style="color:#F27490"></i> in Austin, TX</p>
  <p><a href="https://github.com/Josh-Mosh/josh-mosh.github.io" target='_blank'>View Page Source on Github</a></p>
</footer>
