
<div class='home'>
  <div class='row'>
    <div class='col-md-12 home-content'>
        <h1 class='bracket nomargin'>{</h1>
        <h1 id='title'>www. <span class='title'>&nbsp;JoshMosh&nbsp;</span>.com</h1>
        <h1 class='bracket nomargin'>}</h1>
    </div>
  </div>

  <div id ='social'>
    <div class='row'>
      <ul class='col-xs-12'>
        <a href="https://twitter.com/Josh_Mosh" target="_blank" id='twitter'>
          <li><img src="assets/img/twitter.png" alt-src="assets/img/twitterwhite.gif"></li>
        </a>
        <a href="https://www.facebook.com/Joshua.Neal.Gillespie" target="_blank">
          <li><img src="assets/img/facebook.png" alt-src="assets/img/facebookwhite.gif"></li>
        </a>
        <a href="http://instagram.com/joshmosh" target="_blank">
          <li><img src="assets/img/insta.png" alt-src="assets/img/instawhite.gif"></li>
        </a>
        <a href="http://www.linkedin.com/in/joshmosh" target="_blank">
          <li><img src="assets/img/linkedin.png" alt-src="assets/img/linkedinwhite.gif"></li>
        </a>
        <a href="https://github.com/Josh-Mosh" target="_blank" id='github'>
          <li><img src="assets/img/github.png" alt-src="assets/img/githubwhite.png"></li>
        </a>
      </ul>
    </div>
  </div>
</div>